/* Start Global Style */
:root {
  --main-color: #120722;
  --alt-color: #748182;
  --border-color: #200648;
  --btn-color: #a367b1;
  --shadow1: #160122;
  --shadow2: #0c0015;
  --main-transition: all 0.5s ease;
}

body {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}
h1 {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
::selection {
  color: #b7b4b4;
  background: #4022484d;
}
@media (max-width:500px) {
  html {
    font-size: 10px;
  }
}
.app {
  padding-top: 3.125rem;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  text-transform: capitalize;
}
/* Start Form */
input,
textarea {
  margin-bottom: 1.875rem;
  font-weight: 00;
  font-family: 'Montserrat', sans-serif;
}
label {
  color: #6c757d;
  margin-bottom: 0.625rem;
}
.form .form-control {
  outline: none;
  padding: 12.8px 9.6px;
  border: 0.0625rem solid var(--border-color);
  background: none;
  border-radius: 0.625rem;
  font-size: 1rem;
  letter-spacing: 0.3ch;
  box-shadow: -0.25rem -0.25rem 0.375rem var(--shadow1), 0.25rem 0.25rem 0.625rem var(--shadow2);
  transition: var(--main-transition);
  color: #fff;
}

.form .Btn-add-update {
  padding: 0.4375rem;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.625rem;
  box-shadow: -0.25rem -0.25rem 0.4375rem var(--shadow1), 0.25rem 0.25rem 0.4375rem var(--shadow2);
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  transition: var(--main-transition);
}
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  box-shadow: inherit;
  border: 0.0625rem solid var(--btn-color);
}

.addBtn {
  background-color: var(--border-color);
}
.updateBtn {
  background-color: #a367b1;
}
/* End Form */
.btn-setData {
  background-color: var(--btn-color);
  color: white;
}
.btn-remove {
  background-color: #5d3587;
  color: white;
}
.clear-all {
  background-color: var(--border-color);
  color: white;
  text-transform: capitalize;
}
.btn:hover {
  border: 0.0625rem solid var(--main-color);
  background-color: var(--border-color);
  color: #fff;
}
.clear-all:hover {
  background-color: var(--main-color);
  border: 0.0625rem solid var(--border-color);
}
/* Start Table */
.res {
  overflow-x: auto
}
thead {
  background-color: #392467;
}
tbody {
  background-color: #ffd1e3;
}
thead td {
  padding: 1.25rem 0.9375rem;
  text-align: center;
  font-weight: 700;
  font-size: 0.9375rem;
  color: #fff;
  text-transform: uppercase;
}
td {
  padding: 0.9375rem;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 0.9375rem;
  color: var(--main-color);
  border-bottom: solid 0.0625rem #392467;
}

/* End Table */

.container .emptyItem {
  background-color: #ffd1e3;
  color: #392467;
  text-align: center;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5625rem;
}
